.resume_container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.resume {
  display: flex;
  justify-content: center;
}

.example-full-width{
  display: flex;
  justify-content: center;
}
